* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  ul {
    list-style-type: none;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    padding: 12px 24px;
    font-family: Arial, sans-serif;
  }
  
  .logo {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .navitems {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  
  .navitems a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    background-color: #cccccc09;
    border-radius: 11px;
    padding: 6px 8px;
  }
  
  .navitems a:hover {
    background-color: #ccc;
    color: #ff3333;
  }
  
  .down {
    position: relative;
  }
  
  .downmenu {
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
    background-color: #2a2a2a;
    padding: 5px 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .down:hover .downmenu {
    opacity: 1;
    visibility: visible;
    background-color: #ffffff;
  }
  
  .downmenu a {
    display: block;
    color: #000000;
    padding: 6px 12px;
    font-size: 16px;
    text-decoration: none;
  }
  
  .downmenu a:hover {
    background-color: #444444;
    color: #ff3333;
  }
  
  .user {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .user a {
    background-color: #ccc;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 12px;
  }
  
  .user a:hover {
    background-color: #3d3d3d;
    color: #ff3333;
  }
 .searchbar {
  width: 500px;
  height: 40px;
  border: 2px solid black;
  border-radius: 15px; 
  padding: 5px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
 }
.searchbar input {
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 20px;
 
}
.searchbar button{
  translate: -30px ;
  width: 90px;
  height: 40px;

}
  .products {

width: 100%;
padding-top: 50px;
display:grid;
grid-template-columns: repeat(auto-fill,300px);
gap: 50px;
justify-content: center;
align-content: center;
position: relative;
  }
.item1,.item2,.item3,.item4,.item5,.item6,.item7,.item8,.item9,.item10 ,.item11,.item12,.item13,.item14,.item15,.item16,.item17,.item18,.item19,.item20{
box-shadow: 0 0 4px 6px rgba(163, 162, 162, 0.584);
margin: 20px;
padding: 10px;
padding-top: 40px;
width: 300px;
height: 450px;
transition: .2s;

}
.item1:hover,.item2:hover,.item3:hover,.item4:hover,.item5:hover,.item6:hover,.item7:hover,.item8:hover,.item9:hover,.item10:hover ,.item11:hover,.item12:hover,.item13:hover,.item14:hover,.item15:hover,.item16:hover,.item17:hover,.item18:hover,.item19:hover,.item20:hover{
  transform: scale(1.015);
}
 .item1 img , .item2 img , .item3 img{
  width: 200px;
  margin-left: 15%;
 
 
 }
 .item4 img , .item5 img{
  width: 250px;
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 8%;
 }
 .item6 img , .item7 img {
  width: 220px;
  margin-left: 15%;
 }
 .item8 img , .item9 img , .item10 img {
  width: 250px;
  margin-left: 10%;
  
 }
 .item11 img {
  width: 80%;
  margin-left: 8%;
 }
 .item12 img {
width: 95%;
margin-top: 8%;
 }
 .item13 img {
  width: 80%;
  margin-left: 8%;
 }
 .item14 img {
  width: 105%;
  margin-left: -3% ;
 }
.item15 img{
width: 88%;
margin-left: 8%;
margin-bottom: -4%;
}
.item16 img {
  width: 100%;
  margin-top:-10% ;
  margin-bottom: -15%;
  margin-left: -3%;
}
.item17 img {
  width: 72%;
  margin-left: 14%;
}
.item18 img {
  width: 75%;
  margin-left: 11%;
  margin-bottom: -3%;
}

.item19 img {
  width: 70%;
  margin-left: 14%;
}
.item20 img {
  width: 90%;
  margin-top: 5%;
  margin-left: 4%;
  margin-bottom: 7%;
}
 h2 {
  padding: 5px;
  font-family: "Comfortaa", sans-serif;
 }
 h4 {
  padding: 10px;
  font-family: "Comfortaa", sans-serif;
 }
 h3 {
  padding: 5px;
  font-family: "Comfortaa", sans-serif;
 }

 button {
 width: 100px; 
 height: 50px;
 background-color: white;
 border:3px solid black ;
 font-size: 20px;
 font-weight: 900;
 position: relative;
 border-radius: 50px;
 left: 170px ;
 font-family: "Comfortaa", sans-serif;
 transition: .2s;
 cursor: pointer;
 }
 button:hover {
  color: white;
  background-color: black;
 }
  
  .foot {
      padding: 40px 20px;
      border-top: 2px solid #fff;
      background-color: #000;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      text-align: center;
  }
  
  .foot h1 {
      font-size: 50px;
  }
  
  .footer-links {
      display: flex;
      gap: 40px;
      padding: 0;
  }
  
  .footer-links li {
      list-style: none;
  }
  
  .footer-links a {
      color: #fff;
      font-size: 18px;
  }
  
  .footer-links a:hover {
      color: #000000;
      color: red;
  }
  
  .me p,.me h3 {
      font-size: 18px;
      color: #fff;
  }
  
  .foot h2 {
      font-size: 20px;
      color: #fff;
  }
  .phowtos img{
      width: 300px;
      height: auto;
  }
  
  
  
  
  
  
  
  